@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme='light'] {
  --bg-color: #f9fafb;
  --text-color: #111827;
  --accent-color: #3b82f6;
  --danger-color: #ef4444;
  --btnH-color: #4f46e5;
}

:root[data-theme='dark'] {
  --bg-color: #121213;
  --text-color: #f9fafb;
  --accent-color: #4f46e5;
  --danger-color: #dc2626;
  --btnH-color: #3b82f6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


a {
  font-weight: 500;
  color: #f0f0f4;
  text-decoration: inherit;
}
a:hover {
  color: #cfd0d8;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent-color);
  color: #f9fafb;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: var(--btnH-color);
  transition: background-color 0.25s, border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.danger {
  background-color: var(--danger-color);
  color: #f9fafb;
}

.danger:hover {
  background-color: #b31c1c;
  border: #890707 solid 1px;
  transition: background-color 0.25s;
}

.border-accent {
  border-color: var(--accent-color) !important;
}
.bg-accent\/20 {
  background-color: rgba(59, 130, 246, 0.2) !important;
}